h1{text-align: center;
    background-color: rgba(128, 211, 160, 0.541);
    margin-left: 20%;
    margin-right: 20%;
    padding: 0.5rem;
    border-radius: 5px;
}

body{background-image: url("space.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}

ul {color: #ffffff;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;
    list-style-type: none;
}

li {
    display: inline-block;
    background-color: rgba(62, 163, 101, 0.5);
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.25rem;
}

.container {
    height: 150px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
}

.pic img{
    width: 110px;
    border-radius: 5px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.555);
    border: solid 2px;
    border-color:rgba(62, 163, 101, 0.5);
}

.container .text {
    text-align: left;
    border: solid 2px;
    border-color:rgba(62, 163, 101, 0.5);
    border-radius: 5px;
    padding: 1rem;
    margin-left: 4rem;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.555);
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1rem;
        margin-left: 5%;
        margin-right: 5%;
    }


    ul {
        margin-left: 5%;
        margin-right: 5%;
    }


    .container {
        width: 96%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 2px;
        border-color:rgba(128, 211, 160, 0.541);
        border-radius: 5px;
    }

    .pic img{
        width: 80px;
        margin: 5px;
        background-color: rgba(0, 0, 0, 0.555);
        border: none;
    }
    
    .container .text {
        width: 85%;
        height: auto;
        margin: 5px;
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.555);
        overflow: auto;
        border: none;
    }

}